@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        
        <li> @Html.TextBox("SearchString", "", new { placeholder = "Search" })
        <input type="button" value="Search" /> </li>
        @*<input type="button" value="Search" onclick="location.href='@Url.Action("Index", "Researches")'" />*@

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li>
        @Html.TextBox("SearchString", "", new { placeholder = "Search" })
        <input type="button" value="Search" /></li>
        @*<input type="button" value="Search" onclick="location.href='@Url.Action("Index", "Researches")'" />
            *@

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
