@model WSU_Scholar.Models.ResearchAuthor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResearchAuthor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Research.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Research.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
