@model IEnumerable<WSU_Scholar.Models.Research>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Record.fileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.schoolName)
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Published Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Subject", "Index", new { sortOrder = ViewBag.SubjectSortParm })
        </th>
        <th>
            @Html.ActionLink("Grant", "Index", new { sortOrder = ViewBag.GrantSortParm })
        </th>
        <th>
            @Html.ActionLink("Views", "Index", new { sortOrder = ViewBag.ViewsSortParm })
        </th>
        <th>
            @Html.ActionLink("Downloads", "Index", new { sortOrder = ViewBag.DownloadsSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abstracts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Record.fileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.schoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publishedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.downloads)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abstracts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
